@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/variables";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins";
@import "form-builder";


.mw-form-builder{
  .badge-question {
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
  }
}

